spring:
  application:
    name: evcs-gateway
  main:
    web-application-type: reactive
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"
  cloud:
    config:
      profile: local
    gateway:
      routes:
        # Dashboard统计路由
        - id: dashboard-service
          uri: lb://evcs-tenant
          predicates:
            - Path=/dashboard/**
          filters:
            - StripPrefix=1
